# Email settings
SMTP_HOST=smtp.stackmail.com
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USER=walksmanager@example.org.uk
SMTP_PASS=replace_me
MAIL_FROM=Walks Manager Watch <walksmanager@example.org.uk>
MAIL_TO=you@example.com
